body{
	text-align: center;
}
.div2{
	margin: 20px auto;
}
#img1{
	width: 400px;
	height: 400px;
}
.div1{
	width: 400px;
	height: 400px;
	border: 10px solid black;
	position: relative;
	margin: 0 auto;
}
a{
	width: 40px;
	height: 40px;
	background: yellow;
	position: absolute;
	top: 180px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	text-decoration: none;
}
#prev{
	left: 0;
}
#next{
    right: 0;
}
#p2{
	width: 400px;
	height: 20px;
	position: absolute;
	top: 0;
	background: #999;
	margin: 0;
}
#p1{
	width: 400px;
	height: 20px;
	position: absolute;
	bottom: 0;
	background: #999;
	margin: 0;
}
#button1{
	cursor:pointer;
}
#button2{
	cursor:pointer;
}